html {
    font-size: 62.5%;
}

body {
    font-family: "fot-tsukuardgothic-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../images/topicBg.png);
    background-size: cover;
    color: #fefefe;
}

.callTitle {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 30px;

    h4 {
        font-size: 1.6rem;
        margin-bottom: 24px;
        font-weight: 300;
    }

    .search {
        width: 240px;
        height: 36px;
        border-radius: 19px;
        background-color: #707276;
        font-size: 1.6rem;
        color: #fefefe;
        padding: 6px 40px;
        background-image: url(../images/searchIcon.png);
        background-position: 10px 50%;
        left: 0;

        &::placeholder {
            text-align: center;
            color: #fefefe;
        }

        &::before {
            content: url(../images/searchIcon.png);
            width: 24px;
            height: 24px;
        }
    }
}

#liWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;

    .li {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        margin: 18px 20px 18px 29px;

        .accountIcon {
            display: flex;
            background-color: #D8D8D8;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }

        #three {
            border: #4AA359 solid 5px;
        }

        p {
            font-size: 1.6rem;
        }

        .icons {
            display: flex;
            gap: 18px;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #3d5672;
                border-radius: 100%;
            }
        }
    }

    .border {
        border-bottom: #fefefe solid 0.3px;

    }

}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: center;
    height: 60px;
    background-color: #7d7d7d;

    .content {
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        a {
            color: #fefefe;
            text-decoration: none;
            font-weight: 700;
        }
    }
}